/**************** RESET CSS*******************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/********* END RESET CSS **************/

body {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-weight: 500;
  margin: 10px auto;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.875rem;
  overflow: hidden;
  width: 92%;
}

.card-image {
  object-fit: cover;
  max-width: 100%;
}

.card-category {
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
  color: hsl(228, 12%, 48%);
}

.card-name {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: hsl(212, 21%, 14%);
  margin: 16px 0;
}

.card-description {
  background-color: hsl(0, 0%, 100%);
  height: 100%;
  padding: 1.5rem;
  color: hsl(228, 12%, 48%);
}

.card-discount {
  font-family: "Fraunces", sans-serif;
  display: inline-block;
  font-size: 2rem;
  margin: 1rem 0;
  color: hsl(158, 36%, 37%);
}
.card-currency {
  display: flex;
  align-items: center;
}
.card-price {
  display: inline-block;
  margin: 0 1rem;
}
.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(158, 36%, 37%);
  height: 3rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
}

.card-button:hover {
  background-color: hsl(158, 36%, 20%);
}

.card-button {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  padding: 1rem;
}

.card-button > img {
  padding: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media only screen and (min-width: 376px) {
  body {
    margin: 0;
    padding: 0;
  }
  .card {
    flex-direction: row;
    max-width: 600px;
    align-items: stretch;
  }
  .card-image > img {
    width: 980px;
    flex: 0 1 auto;
  }
  .card-description {
    height: auto;
  }
}
