/**************** RESET CSS*******************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/********* END RESET CSS **************/

:root {
  --light-red: 0, 100%, 67%;
  --orangey-yellow: 39, 100%, 56%;
  --green-teal: 166, 100%, 37%;
  --cobalt-blue: 234, 85%, 45%;

  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 25px 50px -12px var(--light-lavender);
  width: min(100%, 736px);
}

.card {
  padding: 2rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
}

.card--featured {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-image: linear-gradient(
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
  text-align: center;
  color: var(--light-lavender);
}

.result__badge {
  width: 45%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result__value {
  color: var(--white);
  font-size: 48px;
  font-weight: 800;
}

.result__label {
  color: var(--white);
  font-weight: 700;
}

.space-y-4 > * + * {
  margin-top: 1rem;
}

.category {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 700;
  color: hsla(224, 30%, 27%, 0.5);
}

.category__title {
  flex: 1;
  padding-inline-start: 0.625rem;
  font-weight: 700;
}

.category--red {
  background-color: hsl(var(--light-red), 0.075);
}

.category__title--red {
  color: hsl(var(--light-red));
}

.category--yellow {
  background-color: hsl(var(--orangey-yellow), 0.075);
}

.category__title--yellow {
  color: hsl(var(--orangey-yellow));
}

.category--green {
  background-color: hsl(var(--green-teal), 0.075);
}

.category__title--green {
  color: hsl(var(--green-teal));
}

.category--blue {
  background-color: hsl(var(--cobalt-blue), 0.075);
}

.category__title--blue {
  color: hsl(var(--cobalt-blue));
}

.summary__categories {
  width: 100%;
}

.card__title--start {
  align-self: start;
}

.category__percentage {
  color: var(--dark-gray-blue);
}

.summary__btn {
  width: 100%;
  border-radius: 2rem;
  text-decoration: none;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  text-align: center;
  padding-block: 1rem;
}

@media (hover: hover) {
  .summary__btn:hover,
  .summary__btn:focus {
    background-image: linear-gradient(
      var(--light-slate-blue),
      var(--light-royal-blue)
    );
  }
}

@media only screen and (min-width: 376px) {
  body {
    align-items: center;
  }
  .container {
    flex-direction: row;
  }

  .result__badge {
    width: 75%;
    margin-block: 2rem;
  }

  .result__value {
    font-size: 70px;
  }

  .result__label {
    font-size: 30px;
  }
  .card {
    padding: 2.75rem;
  }

  .card--featured {
    border-radius: 2rem;
  }

  .card__title {
    font-size: 20px;
  }
}
